<div class="card m-3">
    <div class="card-header">
        <h3><strong>Datos visita</strong></h3>
    </div>
    <div class="card-body">
        <form>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label>DNI</label>
                        <input class="form-control" maxlength="8"/>
                        <button class="btn btn-warning">Consultar</button>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label>Nombre y Apellido</label>
                        <span>Lorena Laurenza</span>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>Nro. de tarjeta de ingreso</label>
                                <input class="form-control" placeholder="Ingrese numero"/>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label>Fecha de ingreso</label>
                                <span>26/07/2019</span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label>Hora de ingreso</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <label>Sector</label>
                    <select onchange="changeSector()">
                        <option>Seleccione sector de la persona visitada </option>
                    </select>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <label>Persona visitada</label>
                    <select>
                        <option>Selecciones persona</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-warning">Ingreso</button>
                </div>
            </div>
        </form>
    </div>
</div>