@model Web.ViewModels.VisitasVm

<div class="card m-3">
    <div class="card-header">
        <h3><strong>Datos visita</strong></h3>
    </div>
    <div class="card-body">
        <form>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label>DNI</label>
                        <input id="inputDni" class="form-control" maxlength="8"/>
                        <button class="btn btn-warning" onclick="buscarVisitante()">Consultar</button>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label>Nombre y Apellido</label>
                        <div>
                            <strong id="nombreCompletoVisitante">---</strong>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>Nro. de tarjeta de ingreso</label>
                                <input class="form-control" placeholder="Ingrese numero"/>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label>Fecha de ingreso</label>
                                <div>
                                    @DateTime.Now.ToString("dd/MM/yyyy")
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label>Hora de ingreso</label>
                        <div>
                            @DateTime.Now.ToString("HH:mm")
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <label>Sector</label>
                    <select id="selectSector" onchange="changeSector()">
                        <option>Seleccione sector de la persona visitada </option>
                        @{ 
                            List<string> sectores = (List<string>)ViewData["sectores"];
                        }
                        @foreach (string item in sectores) 
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <label>Persona visitada</label>
                    <select>
                        <option>Selecciones persona</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-warning">Ingreso</button>
                </div>
            </div>
        </form>
    </div>
</div>