@using Web.ViewModels;
@model HomeVm
@{
    ViewData["Title"] = "Entradas Engee";
}

<partial name="_entrada.cshtml" for="@Model.Visita" view-data="@ViewData"></partial>
<div id="divContent">
    <partial name="_ListadoIngresos.cshtml" for="@Model.ListVisitas"></partial>
</div>

<partial name="_ModalConfirm"></partial>