<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" asp-action="Index" asp-controller="Home">
        <h2 class="d-md-inline-block">Engee</h2>
        | Ingreso visitantes
    </a>

</nav>