<div id="divAlert" class="alert notification fadeInOut-notification alert-hide" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <p id="alert-text">

    </p>

</div>

